/* Styles pour les cartes */
.card-pane {
    -fx-background-color: #f0f0f0; /* Couleur de fond de la carte */
    -fx-border-color: #cccccc; /* Couleur de la bordure de la carte */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 5px; /* Rayon de la bordure */
    -fx-padding: 10px; /* Espacement interne */
}

.card-pane:hover {
    -fx-background-color: #e0e0e0; /* Changement de couleur de fond au survol */
}

/* Styles pour les étiquettes */
.label {
    -fx-font-family: Arial; /* Police de caractères */
}

.label.bold {
    -fx-font-weight: bold; /* Texte en gras */
}
